body {
  display: flex;
  background-color: white;

}

.image {
  margin-top: 20px;
  height: 300px;
  width: 400px;
}
.recipes {
  background-color: white;
  display: inline-table;
  margin: auto;
  border: 2px solid black;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.recipe {
  margin: 20px 20px 0 20px ;
  text-align: center;
  font-size: 16px;
}
.link {
  text-decoration: none;
  color: black;
}
.title {
  background-color: black;
  background-size: 100% 100%;
  background-image:url(https://static.pexels.com/photos/33242/cooking-ingredient-cuisine-kitchen.jpg);
  height: 750px;
  width: 1410px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: black;
}
